.corps{

    background-color: black;
    color:white
}
.titre{

    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}

.sous-titre{

    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.menu{

    text-align: center;
    
    
}

.texte{
    text-align: center;
    height: 1348px;
}

.body{    -webkit-column-count:3;

    width: auto;
}    
.about{

    height: 452px;
    text-align: center;
    background-image: url(../maxi-challenge/    -webkit-column-count:3;
    
    height: 452px;
    width: 724px;
    
}

.fonds{
    
    height: 508px;

    text-align: center;
    
}    -webkit-column-count:3;